{% extends "base.html" %} {% load static %} {% block content %}
<!-- Order Details -->
<section class="product-details pt-5 bg-light md-mb-4">
   <div class="container pt-5 mb-3">
      <h4 class="text-success-emphasis mb-md-3">Order Details</h4>
      <hr class="md-md-3">
      <ul>
        {% for item in cart %}
          <li>
              {{ item.product.title }} ({{ item.dimension }}, {{ item.frame_type }}, {{ item.frame_color }})
              – {{ item.quantity }} × {{ item.product.price }} €
              = {{ item.total_price }} €
          </li>
        {% endfor %}
      </ul>
   </div>
</section>
<!-- Order Details -->
{% endblock %}