.venv
db.sqlite3
__pycache__/
/venv/
static/.DS_Store
config/__pycache__/
.DS_Store
tmp/emails/
static/media/invoices/
static/media/shipping_labels/
staticfiles
.env
data.json
.env.prod
.
localhost+1-key.pem
localhost+1.pem
media/invoices
media/shipping_labels
docker-commands.txt
release-process.txt
