 .blur-nav{
    backdrop-filter: blur(8px);
 }

.product-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

.store-banner{
    background-image: url(/static/img/banner-cover.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 576px) {
  .banner-content p {
    font-size: 0.8rem; /* smaller font for small screens */
  }
  .banner-content blockquote {
    font-size: 0.9rem; /* smaller font for blockquote text */
  }
  .banner-content figcaption {
    font-size: 0.8rem; /* smaller font for caption */
  }
}