.blur-nav {
	backdrop-filter: blur(8px);
}

.product-img-top {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.product-img-details {
	width: 100%;
	height: 500px;
	object-fit: contain;
}

.store-banner {
	background-image: url(/static/img/banner-cover.jpg);
	background-size: cover;
	background-position: center;
}

.spacing-between-rows {
  margin-bottom: 40px;
}

@media (max-width: 1366px) {
    .product-img-details {
		width: 100%;
		height: 250px;
		object-fit: contain;
    }
}