 .blur-nav{
    backdrop-filter: blur(8px);
 }

.product-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

.store-banner{
    background-image: url(/static/img/banner-cover.jpg);
    background-size: cover;
    background-position: center;
}